body {
    background-color: aquamarine;
    margin-bottom: 50px;
}
.imagenes img {
    width: 10%;
}
.imagenes {
    background-color: aqua;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagenes a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.texto_0 {
    background-color: aqua;
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 1%;
}
.texto {
    background-color: aqua;
    color: white;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: aqua;
}